<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.shop.dao.AdminDAO">
	<!-- select 문 -->
	<select id="getAdmin" resultType="kr.green.shop.vo.AdminVO">
		select * from `admin` where ad_id = #{ad_id};
	</select>
	<select id="getAdminBySession" resultType="kr.green.shop.vo.AdminVO">
 		select * from `admin`
 			where session_id = #{session_id} and session_limit > now()
 	</select>
	<!-- update 문 -->
	<update id="keepLogin">
 		update `admin` set
 			session_id = #{session_id},
 			session_limit = #{session_limit}
 			where ad_id = #{ad_id}
 	</update>
</mapper>