<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.shop.dao.BoardDAO">
	<!-- insert 문 -->
	<insert id="insertBoard">
	insert into board(bd_ad_id, bd_title, bd_content)
		values( #{bd_ad_id}, #{bd_title}, #{bd_content})
	</insert>
	<!-- select 문 -->
	<select id="getBoardList" resultType="kr.green.shop.vo.BoardVO">
		select * from board
			where bd_valid = 'y'
			order by bd_num desc
			limit #{pageStart}, #{perPageNum}
	</select>
	<select id="getTotalCount" resultType="int">
		select count(*) from board
			where bd_valid = 'y'
	</select>
	<select id="getBoard" resultType="kr.green.shop.vo.BoardVO">
		select * from board
			where bd_valid = 'y' and bd_num = #{bd_num}
	</select>
	<!-- update 문 -->

</mapper>