ul{
  margin-bottom: 0;
  padding:0;
}
a{
  text-decoration: none;
  color : black;
}
#bg-img{
  width: 100%;
  left: 0%;
  height: 3000px;
  position: absolute;
  z-index: -50;
  opacity: 0.1;
}

@media screen and (max-width : 945px) {
  #bg-img{
    height: 3000px;
  }
  .top{
    display : none;
  }
  #boddy{
    display: none;
  }
  #footer{
    display: none;
  }
  .res-menu{
    display: block;
  }
  .res-top{
    border-bottom: 1px solid black;
    padding: 0 1rem;
  }
  #trigger{
    position: absolute;
    top: 1rem;
    right : 1rem;
    font-size: 2rem;
    color: black;
  }
  .res-dropdown {
      height : 40px;
  }
  .res-dropdown {
    width: 100%;
    height: auto;
    font-size : 1.2em;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    background-color: white;
  }
  .res-dropdown .drop-ul {
    display: none;
    height: auto;
  }
  .res-dropdown .drop-ul li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom : 1px solid #576979;
  }
  .res-dropdown .drop-ul li a {
    line-height: 50px;
  }
  .res-dropdown .drop-ul li a:hover{
    text-decoration: none;
    color:black;
  }
  .res-dropdown a#trigger{
    display: block;
    width: 100%;
    padding-left: 15px;
    line-height: 40px;
    position: relative;
  }
  .res-sub-menu{
    display: block;
    font-size: 0.8rem;
  }
  #res-body{
    width: 100%;
    height: 2400px;
  }
  .res-sub-first-menu{
    width: 100%;
    display: inline-block;
  }
  #right-img{
    width: 100%;
    height: 100%;
  }
  .left-img{
    width: 60%;
    margin-top: 2rem;
  }
  .left-menu{
    margin-top: 1rem;
    height: 1120px;
  }
  .right-menu{
    margin-top: 4rem;
    height: 350px;
  }
  .left-menu-sub1{
    height: 80px;
  }
  .left-memu-sub1-title{
    font-size: 20px;
    padding-left: 20px;
  }
  .left-memu-sub1-sub-title{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20px;
  }
  .left-menu-sub2{
    margin-top: 1rem;
    height: 65px;
    padding-left: 20px;
    font-size: 12px;
  }
  .left-menu-sub3{
    height: 450px;
  }
  .left-menu-sub3-1{
    margin: 1rem;
    width: 90%;
    height: 42%;
    background-color: #f2f2f2;
    display: inline-block;
  }
  .left-menu-sub3-1-mini{
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 90%;
    height: 90%;
    border: 1px solid white;
    display: flex;
  }
  .left-menu-sub3-text1, .left-menu-sub3-text2, .left-menu-sub3-text3, .left-menu-sub3-text4{
    margin-top: 1.5rem;
    text-align: center;
    width: 6rem;
  }
  .font-size-10{
    margin-top: 1rem;
    font-size: 10.5px;
    color: gray;
    text-align: left;
  }
  #res-footer{
    display: block;
    background-color: rgb(233, 240, 241);
  }#footer{
    height: 34vh;
  }.footer-first-menu, .res-footer-first-menu{
    padding: 0 2rem 0 6rem;
    height: 250px;
    background-color: rgb(233, 240, 241);
    display: flex;
    justify-content: space-around;
  }
  .footer-second-menu{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0 30px;
  }
  .footer-first-menu-sub {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 4vw;
    padding-bottom : 10px;
  }
  .sub1{
    padding-top: 3vh;
  }
  #bold{
    font-weight: bold;
    color: tomato;
  }
  .ssub1{
    font-size: 30px;
    font-weight: bold;
  }
  .ssub2{
    margin-top: 10px;
    font-size: 20px;
  }
  .ssub3{
    margin-top: 20px;
    font-size: 30px;
  }
  .fa-phone{
    color: crimson;
  }
  .sssub1{
    font-size: 25px;
    margin-bottom: 2vh;
  }
  .second-menu{
    height: 330px;
  }
  .second-menu-box{
    padding:10px;
    display: none;
  }
  #second-menu-img{
    width: 95%;
    height: 330px;
    margin-top: 2rem;
  }
  
.title{
  margin-top: 20px;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
}
.sub-title{
  margin-top: 1rem;
  font-size: 25px;
}
.content{
  margin-top: 2rem;
}
.more{
  width: 150px;
  height: 60px;
  margin-top: 2rem;
  line-height: 60px;
  text-align: center;
  color: cornflowerblue;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid cornflowerblue;
  
}
.more:hover{
  background: cornflowerblue;
	color: white;
}

  .blue{
    font-weight: bold;
    color:blue
  }
}