a:hover{
	text-decoration : none;
}
.career-img{
  width: 100%;
  height: 280px;
  line-height: 300px;
  font-size: 40px;
  font-weight: bold;
  padding: 0 10vw;
}
#career_bg_img{
  width: 100%;
  left: 0%;
  height: 280px;
  position: absolute;
  z-index: -50;
  opacity: 0.1;
}
.career-img #winter{
  width: 380px;
  position: absolute;
  top: 5rem;
  right: 120px;
  display: none;
} 
.career-submenu{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
}
.career-submenu-title-box{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
    border-right : none;
    display: flex;
}
.career-submenu-title-box #title{
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}
.career-submenu-list-box{
    display: flex;
    width: 80%;
 	
}
.career-submenu-list-box a{
    width: 15%;
}
.career-submenu-list-box .career-submenu-list{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.career-body{
  margin-top: 1rem;
  height : 1350px;
}
.intro1{
  font-size: 50px;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.intro2{
  font-size: 20px;
  font-style:oblique;
}
.career-info{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.res-career-submenu-box{
	display : none
}
.res-career-submenu-title-box{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
    line-height: 60px;
    text-align: center;
}
.res-career-submenu-list-box{
    width: 100%;
    height: 60px;
    line-height : 60px;
    display: flex;
    border: 1px solid #e0e0e0;
    border-top : none;
    justify-content: space-around;
}
.career-process-box{
	display : flex;
	width : 600px;
	margin : 0 auto;
}
.process-img{
	width : 60%;
}
.circle-box{
	display : flex;
	justify-content: space-between;
}
.underline{
	position : absolute;
	top : 1350px;
	z-index : -999;
}
.fa-circle{
	color : #e0e0e0;
}
.fa-circle:first-child{
	color : #2db2e6;
}
.process-ing-box{
	float : left;
	width : calc(100% / 4.5);
	margin-right : 30px;
	padding : 30px;
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px 5px #e0e0e0;
    height : 200px;
}
.career-box{
	display : flex;
	height : 250px;
}
.career-left-box, .career-right-box{
	width : 100%;
	padding : 0 50px;
}
.career-left-box{
	border-right : 1px solid #e0e0e0;
	padding-left : 10px;
	padding-right : 80px;
}
.psn-img-box{
	float : left;
	width : calc(100% / 7);
	margin-right : 26px;
	padding : 30px;
    border: 1px solid #e0e0e0;
    box-shadow: 5px 5px 5px 5px #e0e0e0;
    height : 200px;
}
.career-psn-body, .res-career-psn-body{
	margin-top : 1rem;
	height : 2200px;
}
.career-psn-box{
	display : flex;
	height : 230px;
}
.psn-left-box, .psn-right-box{
	width : 100%;
	padding : 0 10px;
}
.psn-left-box{
	border-right : 1px solid #e0e0e0;
}
.psn-left-01, .psn-left-02, .psn-left-03{
	float : left;
}
.psn-right-01, .psn-right-02{
	float : left;
}
.psn-left-01{
	width : 240px;
	margin-right : 15px;
}
.psn-left-02, .psn-left-03, .psn-right-02{
    width: 120px;
    margin-top: 30px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px 5px #e0e0e0;
    height: 120px;
}
.psn-right-01{
	width : 360px;
	margin-right : 20px;
	padding-left : 40px;
}
.res-career-psn-body, .res-career-psn-box, .res-career-body, .res-career-box, .res-benefit-body{
	display : none;
}
.career-benefit-box{
	display : flex;
	margin : 0 auto;
}
.benefit-img{
	width : 60%;
	border : 1px solid #e0e0e0;
	border-radius : 45px;
}
.benefit-list-box {
	width : calc(100% / 3.3);
	height : 118px;
	border : 1px solid #e0e0e0;
	border-radius : 45px;
	float : left;
	margin : 1rem;
}
.benefit-right, .benefit-left {
	float : left;
}
.benefit-right {
	width : 30%;
}
.benefit-left {
	width : 70%;
}
.benefit-left-title {
	font-weight : bold;
}
.benefit-right img {
	width : 97%;
	margin : 0.6rem 0;
	padding : 1rem;
}
.benefit-left-content{
	font-size : 14px;
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width : 945px) {
	.career-img{
		font-size: 25px;
	}
	.career-img #winter{
		width: 250px;
		position: absolute;
		top: 7rem;
		right: 10px;
		display: none;
	} 
	.career-submenu-box{
		display : none;
	}
	.res-career-submenu-box{
		display : block;
	}
	.career-psn-body, .career-psn-box, .career-body, .career-box{
		display : none;
	}
	.res-career-psn-body, .res-career-psn-box, .res-career-body, .res-career-box, .res-benefit-body{
		display : block;
	}
	.res-career-psn-body{
		height : 2500px;
	}
	.res-career-box{
		height : 770px;
	}
	.psn-left-box, .psn-right-box{
		display : block;
		border : none;
	}
	.psn-img-box{
		width : calc(100% / 3.5);
		height : 210px;
		margin-left : 8px;
		margin-right : 8px;
		margin-bottom : 20px;
		padding : 3%;
	}
	.psn-left-01{
		padding :0;
		margin : 0;
		width : 100%;
	}
	.psn-right-01{
		padding :0;
		margin : 0;
		width : 100%;
	}
	.career-process-box{
		display : block;
		width : 70%;
	}
	.process-ing-box{
		width : 85%;
		margin-left : 6%;
		margin-right : 0;
		margin-bottom : 25px;
	}
	.career-left-box{
		border : none;
		padding-right : 10px;
		margin-bottom : 70px;
	}
	.career-right-box{
		padding-left : 10px;
		padding-right : 10px;
	}	
	.benefit-list-box{
		width : 100%;
		margin : 0.5rem;
	}
	.res-benefit-body{
		height : 1400px;
	}
	.benefit-right {
		width : 20%;
	}
	.benefit-left {
		width : 80%;
	}
	.benefit-right img {
		margin : 0 0 0 1rem;
		width : 85%;
	}

}

@media screen and (max-width : 765px) {
	.psn-img-box{
		height : 130px;
	}
	.res-career-psn-body{
		height : 2200px;
	}
}
@media screen and (max-width : 421px) {
	.benefit-right {
		width : 30%;
	}
	.benefit-left {
		width : 70%;
	}
	.benefit-right img {
		width : 97%;
		margin : 0;
	}
	
}