a:hover{
	text-decoration : none;
}
/* 기업소개 */
.company-img{
  width: 100%;
  height: 280px;
  line-height: 300px;
  font-size: 40px;
  font-weight: bold;
  padding: 0 10vw;
}
#company_bg_img{
  width: 100%;
  left: 0%;
  height: 280px;
  position: absolute;
  z-index: -50;
  opacity: 0.1;
}
.company-img #winter{
  width: 380px;
  position: absolute;
  top: 5rem;
  right: 120px;
  display: none;
} 
.company-submenu{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
}
.company-submenu-title-box{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
    border-right : none;
    display: flex;
}
.company-submenu-title-box #title{
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}
.company-submenu-list-box{
    display: flex;
    width: 80%;
 	
}
.company-submenu-list-box a{
    width: 15%;
}
.company-submenu-list-box .company-submenu-list{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.company-body{
  margin-top: 1rem;
}
.intro1{
  font-size: 50px;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.intro2{
  font-size: 20px;
  font-style:oblique;
}
.company-info{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.res-company-submenu-box{
	display : none
}
.res-company-submenu-title-box{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
    line-height: 60px;
    text-align: center;
}
.res-company-submenu-list-box{
    width: 100%;
    height: 60px;
    line-height : 60px;
    display: flex;
    border: 1px solid #e0e0e0;
    border-top : none;
    justify-content: space-around;
}
.intro-sub-menu{
	border : 1px solid blue;
	width : 350px;
	height : 50px;
	line-height : 50x;
	font-size : 20px;
	cursor : pointer;
	color : blue;
}
.intro-sub-menu:last-child{
	border-left : none;
}
.sub-menu-text{
	font-size : 22px;
}
#company_logo_img{
	width : 300px;
}
#company_right_img{
	width : 100%;
	height : 500px;
}
.intro-body01{
	height : 900px;
}
.intro-body01-main{
	width : 100%;
	height : 700px;
	display : flex;
}
.intro-body01-left, .intro-body01-right{
	width : 50%;
	height : 700px;
}
.intro-body01-left-index{
	height : 20%;
	border-bottom : 1px solid #e0e0e0;
}
.left-img{
	margin-left : 10px;
	margin-top: 20px;
	width : 100px;
}
.left-img, .right-text{
	float : left;
}
.right-text{
	width : 70%;
	margin-left : 50px;
	margin-top : 25px;
	font-size : 18px;
}
.res-company-sub-box{
	display : none;
}
.use-box{
	display : flex;
	justify-content: space-around;
}
.company-use{
	display : none;
}
/* 인사말 */
.greeting-box{
	height : 800px;
}
.gr-title{
	font-size : 35px;
	margin-bottom : 45px;
}
.gr-body{
	display : flex;
	height : 710px;
}
.gr-img{
	width : 50%;
}
.gr-content{
	width : 50%;
}
.gr-con01, .gr-con02, .gr-con03, .gr-con04, .gr-con05, .gr-con06{
	height : calc( 100% / 6);
	font-size : 18px;
}
.gr-con01{
	font-size : 28px;
}
.gr-con02, .gr-con03{
	height : 80px;
}
.gr-con04{
	height : 160px;
}
.res-greeting-box{
	display : none;
}
.history-box div{
	font-size : 35px;
}
.history-text{
    display: flex;
    justify-content: center;
    font-size: 35px;
    height: 300px;
    line-height: 100px;
}
.award-box{
	font-size : 23px;
}
.award-img-box{
	height: 1200px;
}
.award-sub-box{
	height : 550px;
}
.award-img{
	float : left;
	width : calc(100% / 3);
	padding : 50px;
}
.award-img img{
	width : 100%;
	border : 1px solid #e0e0e0;
}
.res-award-main-box{
	display : none;
}
	

/* 기능 클래스*/
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue{
	background : blue;
	color : white;
}
.blue-text{
	color : blue;
	font-weight : bold;
}

@media screen and (max-width : 1280px) {
	.right-text{
		margin-left : 20px;
		margin-top : 15px;
	}
}
@media screen and (max-width : 945px) {
	.company-img{
		font-size: 25px;
	}
	.company-img #winter{
		width: 250px;
		position: absolute;
		top: 7rem;
		right: 10px;
		display: none;
	} 
	.company-submenu-box{
		display : none;
	}
	.res-company-submenu-box{
		display : block;
	}
	.company-sub-box{
		display : none;
	}
	.res-company-sub-box{
		display : block;
		height : 1500px;
	}
	.intro-body01{
		height : 1500px;
	}
	.intro-body01-main{
		width : 100%;
		height : 1000px;
	}
	.intro-body01-left-index{
		height :10%;
	}
	.intro-body01-left, .intro-body01-right{
		width : 100%;
	}
	.intro-body01-left{
		height : 1500px;
	}
	.left-imng, .right-text{
		float : left;
	}
	.right-text{
		margin-top : 30px;
		width : 50%;
	}
	.small-text{
		font-size : 14px;
	}
	.company-use img:first-child{
		margin-bottom : 50px;
	}
	.greeting-box, .award-main-box{
		display : none;
	}
	.res-greeting-box, .res-award-main-box{
		display : block;
	}
	.gr-title{
		font-size : 20px;
		margin-bottom : 20px;
	}
	.gr-body{
		display : block;
	}
	.gr-img{
		width : 100%;
	}
	.gr-content{
		width : 100%;
	}
	.gr-con01, .gr-con02, .gr-con03, .gr-con04, .gr-con05, .gr-con06{
 	    font-size : 15px;
	}
	.gr-con01{
		margin-bottom : 40px;
		font-size : 25px;
	}
	.gr-con02, gr-con03{
		height : 70px;
	}
	.gr-con04{
		height : 90px;
	}
	.history-box div{
		font-size : 13px;
	}
	.history-text{
		font-size : 20px;
		height : 200px;
	}
	.award-box{
		font-size : 13px;
	}
	.award-img{
		padding : 10px;
	}
	.award-img-box{
		height : 1000px;
	}	
	.award-sub-box{
		height : 500px;
	}
	
}

@media screen and (max-width : 420px){
	.award-img-box{
		height : 600px;
	}	
	.award-sub-box{
		height : 280px;
	}
	.gr-title{
		font-size : 19px;
	}
	.gr-con01, .gr-con02, .gr-con03, .gr-con04, .gr-con05, .gr-con06{
 	    font-size : 12px;
	}	
	.gr-con01{
		font-size : 25px;
	}
}