a:hover{
	text-decoration : none;
}
.itService-img{
  width: 100%;
  height: 280px;
  line-height: 300px;
  font-size: 40px;
  font-weight: bold;
  padding: 0 10vw;
}
#itService_bg_img{
  width: 100%;
  left: 0%;
  height: 280px;
  position: absolute;
  z-index: -50;
  opacity: 0.1;
}
.itService-img #winter{
  width: 380px;
  position: absolute;
  top: 5rem;
  right: 120px;
  display: none;
} 
.itService-submenu{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
}
.itService-submenu-title-box{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
    border-right : none;
    display: flex;
}
.itService-submenu-title-box #title{
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}
.itService-submenu-list-box{
    display: flex;
    width: 80%;
 	
}
.itService-submenu-list-box a{
    width: 15%;
}
.itService-submenu-list-box .itService-submenu-list{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.itService-body{
  margin-top: 1rem;
}
.intro1{
  font-size: 50px;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.intro2{
  font-size: 20px;
  font-style:oblique;
}
.itService-info{
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.res-itService-submenu-box{
	display : none
}
.res-itService-submenu-title-box{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
    line-height: 60px;
    text-align: center;
}
.res-itService-submenu-list-box{
    width: 100%;
    height: 60px;
    line-height : 60px;
    display: flex;
    border: 1px solid #e0e0e0;
    border-top : none;
    justify-content: space-around;
}
.it-submenu-box{
	margin-left : 2%;
}
.intro-sub-menu{
	border : 1px solid blue;
	width : 350px;
	height : 50px;
	line-height : 50x;
	font-size : 20px;
	cursor : pointer;
	color : blue;
	float : left;
	outline : 1px solid blue;
}
.itService-img-box{
	margin : 130px 0 ;
}
.imgBox{
	display : none;
	width : 100%
}
.s01{
	display : inline-block;	
}
/*
.sub01{
	border-bottom : none;
}
.sub02{
	border-right : none;
	border-bottom : none;
	border-left : none;
}
.sub03{
	border-bottom : none;
}
.sub05{
	border-right : none;
	border-left : none;
}
*/

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue{
	background : blue;
	color : white;
}

@media screen and (max-width : 945px) {
	.itService-img{
		font-size: 25px;
	}
	.itService-img #winter{
		width: 250px;
		position: absolute;
		top: 7rem;
		right: 10px;
		display: none;
	} 
	.itService-submenu-box{
		display : none;
	}
	.res-itService-submenu-box{
		display : block;
	}
	.it-submenu-box{
		margin-left : 6rem;
	}
	.intro-sub-menu{
		width : 170px;
		height : 30px;
		line-height : 30x;
		font-size : 10px;
	}
}
@media screen and (max-width : 420px){
	.it-submenu-box{
		margin-left : 6%;
	}
}

@media screen and (max-width : 391px){
	.it-submenu-box{
		margin-left : 7%;
	}
	.intro-sub-menu{
		width : 150px;
		height : 25px;
		line-height : 25px;
		font-size : 10px;
	}
}
@media screen and (max-width : 361px){
	.it-submenu-box{
		margin-left : 5%;
	}
}