*{ padding: 0; margin: 0; text-decoration: none; color: #000; max-height: 100000px; }
ul{
    color: black;
    list-style: none;
}
a{ 
  color:black;
}
a:hover{
  text-decoration: none;
}
.top{
    display: flex;
    justify-content: space-between;
    padding-left : 4rem;
    position: relative;
}
.menu-bar{
    display: flex;
    height: 4rem;
    margin-right: 4vw;
}
.home-img{
    padding-left: 2rem;
    padding-top: 0.5rem;
}
.sub-menu{
    width: 7.5rem;
    height: 5rem;
    line-height: 5rem;
}
.menu-bar a{
    display: inline-block;
    text-align: center;
}
.menu-bar a:hover{
  text-decoration: none;
  color: white;
}
.dropdown .sub-menu a:hover{
  text-decoration: none;
  color: black;
}
.dropdown{
  height: 280px;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  display: none;
  top: 5rem;
  right: 0;
  position: absolute;
  z-index: 999;
}
.dropmenu{
  display: flex;
  height: 100%;
  justify-content: flex-end;
  text-align: center;
  margin-right: 4vw;
}
.dropmenu .sub-menu{
  height: 100%;
}
.dropmenu .sub-menu:hover{
  background-color:whitesmoke;
}
.dropmenu .sub-menu:hover>.menu-bar .sub-menu{
  background-color: skyblue;
  color:white;
}
.dropmenu .sub-menu:last-child:hover{
  background-color: white;
}
.dropmenu .sub-menu .sub-menu-list{
  height: 4rem;
}
.res-menu{
  display: none;
}
#boddy{
  padding: 0 4rem 0 6rem;
  min-height: 1300px;
}
.first-menu{
  display: flex;
  justify-content: space-between;
}
.left-menu{
  margin-top: 4rem;
  width: 40vw;
  height: 650px;
}
.right-menu{
  margin-top: 4rem;
  width: 50vw;
  height: 650px;
}
.left-menu-sub1{
  width: 40vw;
  height: 80px;
}
.left-memu-sub1-title{
  font-size: 20px;
}
.left-memu-sub1-sub-title{
  font-size: 50px;
  font-weight: bold;
}
.left-menu-sub2{
  margin-top: 3rem;
  width: 40vw;
  height: 65px;
}
.left-menu-sub3{
  width: 500px;
  height: 450px;
}
.left-menu-sub3-1{
  margin: 1rem;
  width: 42%;
  height: 42%;
  background-color: #f2f2f2;
  display: inline-block;
}
.second-menu{
  height: 330px;
  margin-top: 10rem;
  display: flex;
}
.second-menu-box{
  width: 50%;
  display: none;
}
#second-menu-img{
  height: 330px;
  margin-top: 2rem;
  margin-left: 10rem;
}
#footer{
  height: 34vh;
}.footer-first-menu, .res-footer-first-menu{
  padding: 0 2rem 0 6rem;
  height: 250px;
  background-color: rgb(233, 240, 241);
  display: flex;
  justify-content: space-around;
}
.footer-second-menu{
  display: flex;
  justify-content: space-between;
  padding: 5px 0 0 30px;
}
.copyright{
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 2vw;
}
.footer-first-menu-sub {
  width: 100%;
  margin: 0 auto;
  padding-top: 5vh;
  padding-left: 4vw;
  padding-bottom : 3vh;
}
#bold{
  font-weight: bold;
  color: tomato;
}
.ssub1{
  font-size: 30px;
  font-weight: bold;
}
.ssub2{
  margin-top: 10px;
  font-size: 20px;
}
.ssub3{
  margin-top: 20px;
  font-size: 30px;
}
.sub1{
  padding-top: 3vh;
}
.fa-phone{
  color: crimson;
}
.sssub1{
  font-size: 25px;
  margin-bottom: 2vh;
}
.res-footer-first-menu{
    display: none;
}
.go-top {
	display:none;
	position:fixed;
	bottom:7vh;
	right:20px;
	z-index:999;
	cursor:pointer;
	font-size : 25px;
  text-decoration: underline;
  color: crimson;
}
#logout-ntn{
	margin-left:3px;
}
#bg-img{
  width: 100%;
  left: 0%;
  height: 1300px;
  position: absolute;
  z-index: -50;
  opacity: 0.1;
}
#right-img{
  width: 100%;
  height: 100%;
}
.left-img{
  width: 60%;
  margin-top: 2rem;
}
.left-menu-sub3-1-mini{
  margin: 0 auto;
  margin-top: 0.5rem;
  width: 90%;
  height: 90%;
  border: 1px solid white;
  display: flex;
}
.left-menu-sub3-text1, .left-menu-sub3-text2, .left-menu-sub3-text3, .left-menu-sub3-text4{
  margin-top: 1rem;
  text-align: center;
  width: 6rem;
}
.font-size-10{
  margin-top: 1rem;
  font-size: 10.5px;
  color: gray;
  text-align: left;
}
.second-menu-box:nth-child(1){
  padding: 3rem;
}
.title{
  font-size: 15px;
  font-weight: bold;
}
.sub-title{
  margin-top: 1rem;
  font-size: 25px;
}
.content{
  margin-top: 2rem;
}
.more{
  width: 150px;
  height: 60px;
  margin-top: 2rem;
  line-height: 60px;
  text-align: center;
  color: cornflowerblue;
  z-index: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border: 1px solid cornflowerblue;
  
}
.more:hover{
  background: cornflowerblue;
	color: white;
}
.res-sub-first-menu{
  display: none;
}
#res-body{
  display:none;
}
#res-footer{
  display: none;
}


.blue{
  color: blue;
  font-weight: bold;
}
@media screen and (max-width : 1280px) {
  .first-menu{
    display: none;
  }
  .res-sub-first-menu{
    display: inline-block;
    padding: 0;
  }
  #boddy{
    min-height: 1800px;
  }
  #bg-img{
    height: 1800px;
  }
  .left-menu{
    margin-top: 4rem;
    width: 100%;
    height: 430px;
  }
  .right-menu{
    margin-top: 4rem;
    width: 50vw;
    height: 650px;
    padding: 0;
  }
  .left-menu-sub1{
    height: 80px;
    width: 100%;
  }
  .left-memu-sub1-title{
    font-size: 20px;
  }
  .left-memu-sub1-sub-title{
    font-size: 50px;
    font-weight: bold;
  }
  .left-menu-sub2{
    margin-top: 3rem;
    width: 100%;
    height: 65px;
  }
  .left-menu-sub3{
    width: 100%;
    height: 210px;
  }
  .left-menu-sub3-1{
    margin: 1rem;
    width: 220px;
    height: 200px;
    background-color: #f2f2f2;
    display: inline-block;
  }
  #right-img{
    margin-left: 1rem;
    width: 150%;
    height: 100%;
  }
  .footer-first-menu{
    display: none;
  }
  .res-footer-first-menu{
    display: block;
    height: 350px;
  }
  .include{
    display: flex;
  }
  .footer-first-menu-sub{
    padding-top: 1vh;
  }
}

@media screen and (max-width : 945px) {
ul{
  margin-bottom: 0;
  padding:0;
}
  #bg-img{
    height: 3000px;
  }
  .top{
    display : none;
  }
  #boddy{
    display: none;
  }
  #footer{
    display: none;
  }
  .res-menu{
    display: block;
  }
  .res-top{
    border-bottom: 1px solid black;
    padding: 0 1rem;
  }
  #trigger{
    position: absolute;
    top: 8px;
    right : 1rem;
    font-size: 2rem;
    color: black;
  }
  .res-dropdown {
      height : 40px;
  }
  .res-dropdown {
    width: 100%;
    height: auto;
    font-size : 1.2em;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    background-color: white;
  }
  .res-dropdown .drop-ul {
    display: none;
    height: auto;
  }
  .res-dropdown .drop-ul li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom : 1px solid #576979;
  }
  .res-dropdown .drop-ul li a {
    line-height: 50px;
  }
  .res-dropdown .drop-ul li a:hover{
    text-decoration: none;
    color:black;
  }
  .res-dropdown a#trigger{
    display: block;
    width: 100%;
    padding-left: 15px;
    line-height: 40px;
    position: relative;
  }
  .res-sub-menu{
    display: block;
    font-size: 0.8rem;
  }
  #res-body{
    display: inline-block;
    width: 100%;
    height: 2400px;
  }
  .res-sub-first-menu{
    width: 100%;
    display: inline-block;
  }
  #right-img{
    margin-left:0;
    width: 100%;
    height: 100%;
  }
  .left-img{
    width: 60%;
    margin-top: 2rem;
  }
  .left-menu{
    margin-top: 1rem;
    height: 1120px;
  }
  .right-menu{
    width:100%;
    margin-top: 4rem;
    height: 350px;
  }
  .left-menu-sub1{
    height: 80px;
  }
  .left-memu-sub1-title{
    font-size: 20px;
    padding-left: 20px;
  }
  .left-memu-sub1-sub-title{
    font-size: 50px;
    font-weight: bold;
    padding-left: 20px;
  }
  .left-menu-sub2{
    margin-top: 1rem;
    height: 65px;
    padding-left: 20px;
    font-size: 12px;
  }
  .left-menu-sub3{
    height: 450px;
  }
  .left-menu-sub3-1{
    margin: 1rem;
    width: 90%;
    height: 42%;
    background-color: #f2f2f2;
    display: inline-block;
  }
  .left-menu-sub3-1-mini{
    margin: 0 auto;
    margin-top: 0.5rem;
    width: 90%;
    height: 90%;
    border: 1px solid white;
    display: flex;
  }
  .left-menu-sub3-text1, .left-menu-sub3-text2, .left-menu-sub3-text3, .left-menu-sub3-text4{
    margin-top: 1.5rem;
    text-align: center;
    width: 6rem;
  }
  .font-size-10{
    margin-top: 1rem;
    font-size: 10.5px;
    color: gray;
    text-align: left;
  }
  .second-menu{
	display : block;
    height: 330px;
    margin-top:0;
  }
  .second-menu-box{
    padding:10px;
    display: none;
    width : 100%;
  }
  #second-menu-img{
    width: 95%;
    height: 330px;
    margin-top: 2rem;
    margin-left : 0;
  }
  #res-footer{
    display: block;
    background-color: rgb(233, 240, 241);
    height : 640px;
  }
  .footer-first-menu, .res-footer-first-menu{
    padding: 0 2rem 0 6rem;
    height: 250px;
    background-color: rgb(233, 240, 241);
    display: flex;
    justify-content: space-around;
  }
  .footer-second-menu{
    display: flex;
    justify-content: space-between;
    padding: 5px 0 0 30px;
  }
  .footer-first-menu-sub {
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 4vw;
    padding-bottom : 10px;
  }
  .sub1{
    padding-top: 3vh;
  }
  #bold{
    font-weight: bold;
    color: tomato;
  }
  .ssub1{
    font-size: 30px;
    font-weight: bold;
  }
  .ssub2{
    margin-top: 10px;
    font-size: 20px;
  }
  .ssub3{
    margin-top: 20px;
    font-size: 30px;
  }
  .fa-phone{
    color: crimson;
  }
  .sssub1{
    font-size: 25px;
    margin-bottom: 2vh;
  }
}
