a:hover{
	text-decoration : none;
}
.news-img{
  width: 100%;
  height: 280px;
  line-height: 300px;
  font-size: 40px;
  font-weight: bold;
  padding: 0 10vw;
}
#news_bg_img{
  width: 100%;
  left: 0%;
  height: 280px;
  position: absolute;
  z-index: -50;
  opacity: 0.1;
}
.news-body{
  margin-top: 1rem;
}
.intro1{
  font-size: 50px;
  font-weight: bold;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.intro2{
  font-size: 20px;
  font-style:oblique;
}
.news-info{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-img #winter{
  width: 380px;
  position: absolute;
  top: 5rem;
  right: 120px;
  display: none;
} 
.news-submenu{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
}
.news-submenu-title-box{
    width: 100%;
    height: 60px;
    border: 1px solid #e0e0e0;
    border-right : none;
    display: flex;
}
.news-submenu-title-box #title{
    width: 20%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}
.news-submenu-list-box{
    display: flex;
    width: 80%;
 	
}
.news-submenu-list-box a{
    width: 15%;
}
.news-submenu-list-box .news-submenu-list{
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.borad{
    height: 1000px;
}
.board-img{
    border: 1px solid red;
    width: 20rem;
    height: 17rem;
    float: left;
    margin: 1.5rem;
    margin-bottom: 2rem;
}
.board-news{
	margin-bottom : 50px;
	margin-top : 30px;
}
.pagination{
	margin-bottom : 50px;
}
.my.pagination > .active > a, 
.my.pagination > .active > span, 
.my.pagination > .active > a:hover, 
.my.pagination > .active > span:hover, 
.my.pagination > .active > a:focus, 
.my.pagination > .active > span:focus {
  background: grey;
  border-color: grey;
  color : white;
}
.reg-btn{
	float : right;
}
#chk{
	display : none;
}
.bd-title{
	font-size : 35px;
	text-align : center;
	margin : 5px;
}
.bd-info{
	display : flex;
	justify-content: flex-end;	
	margin-top : 15px;
}